# Binaries for programs and plugins
bin/
build/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Built binaries
manager
ksm-scale-operator
controller-gen
kustomize

*.test
*.out

go.work

vendor/
.idea/
.vscode/
*.swp
*.swo
*~

.env
.env.local

cover.out
coverage.html
*.test

__debug_bin

# Ignore all markdown files except README.md
*.md
!README.md